@model technologyMarket.EntityLayer.Entitites.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #form {
        display: block;
        margin-bottom: 185px;
        margin-top: 185px;
        overflow: hidden;
    }

    .login-form {
    }

    .signup-form {
    }

        .login-form h2,
        .signup-form h2 {
            color: #D10024;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 30px;
        }

        .login-form form input,
        .signup-form form input {
            background: #F0F0E9;
            border: medium none;
            color: #696763;
            display: block;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 300;
            height: 40px;
            margin-bottom: 10px;
            outline: medium none;
            padding-left: 10px;
            width: 100%;
        }

    .login-form form span {
        line-height: 25px;
    }

        .login-form form span input {
            width: 15px;
            float: left;
            height: 15px;
            margin-right: 5px;
        }

    .login-form form button {
        margin-top: 23px;
    }

    .login-form form button,
    .signup-form form button {
        background: #D10024;
        border: medium none;
        border-radius: 0;
        color: #FFFFFF;
        display: block;
        font-family: 'Roboto', sans-serif;
        padding: 6px 25px;
    }

    .login-form label {
    }

        .login-form label input {
            border: medium none;
            display: inline-block;
            height: 0;
            margin-bottom: 0;
            outline: medium none;
            padding-left: 0;
        }

    .or {
        background: #D10024;
        border-radius: 40px;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        height: 50px;
        line-height: 50px;
        margin-top: 75px;
        text-align: center;
        width: 50px;
    }
</style>

    <section id="form">
        <!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form">
                        <!--login form-->
                        <h2>Login to your account</h2>
                        <form action="/Account/Login" method="post">

                            <input type="email" placeholder="Email Address" name="Email" />
                            <input type="password" placeholder="Password" name="Password" />

                            <button type="submit" class="btn btn-default">Login</button>
                        </form>
                    </div><!--/login form-->
                </div>
                <div class="col-sm-1">
                    <h2 class="or">OR</h2>
                </div>
                <div class="col-sm-4">                   
                    <div class="signup-form">
                        <!--sign up form-->
                        <h2>New User Signup!</h2>
                        <form action="/Account/Register" method="post">
                            <input type="text" placeholder="Name" name="Name" />
                            @Html.ValidationMessageFor(x => x.Name, "", new { @style = "color:red" })
                            <input type="text" placeholder="Surname" name="Surname" />
                            @Html.ValidationMessageFor(x => x.Surname, "", new { @style = "color:red" })
                            <input type="email" placeholder="Email Address" name="Email" />
                            @Html.ValidationMessageFor(x => x.Email, "", new { @style = "color:red" })
                            <input type="text" placeholder="User Name" name="Username" />
                            @Html.ValidationMessageFor(x => x.Username, "", new { @style = "color:red" })
                            <input type="password" placeholder="Password" name="Password" />
                            @Html.ValidationMessageFor(x => x.Password, "", new { @style = "color:red" })
                            <input type="password" placeholder="Repassword" name="RePassword" />
                            @Html.ValidationMessageFor(x => x.RePassword, "", new { @style = "color:red" })
                            <button type="submit" class="btn btn-default">Signup</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </div>
    </section><!--/form-->